{%- liquid
  assign product = section.settings.product | default: product
  assign tab_id = block.id | append: product.id
  capture tab_content
    echo block.settings.content
    echo block.settings.page.content
  endcapture
  assign title = block.settings.title
-%}

{%- capture tab_title -%}
  <div class="tab-title-with-icon">
    {%- if block.settings.icon != blank -%}
      <img src="{{ block.settings.icon | image_url: width: 24 }}" alt="" class="tab-icon" loading="lazy">
    {%- endif -%}
    <span>{{ title }}</span>
  </div>
  {%- render 'collapsible-icons' %}
{%- endcapture -%}

{%- if title != blank and tab_content != blank -%}
  <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
    <div class="tab-collapsible-wrapper" style="background-color: {{ block.settings.background_color | default: 'transparent' }};">
      {%- render 'collapsible',
        id: tab_id,
        slot_button: tab_title,
        slot_collapsible: tab_content,
        borders: true
      -%}
    </div>
  </div>
{%- endif -%}



<style>
  .product-block .collapsible-content .collapsible-content__inner {
    padding: 18px 26px;
    border-radius: 0 0 8px 8px;
    border: 2px solid #F7F9FA;
    background: var(--Off-White, #FAFAFA);
  }
  .product-block .collapsible-content .collapsible-content__inner * {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
.product-block.product-block--tab {
    margin-bottom: 0 !important;
}
  .tab-collapsible-wrapper {
    padding: 0 !important;
  }

.tab-title-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.tab-title-with-icon span {
    font-size: 15px;
}

.tab-title-with-icon img.tab-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.tab-collapsible-wrapper {
  padding: 16px; /* Optional: add spacing inside the colored box */
}
</style>
