{{ 'accounts.css' | asset_url | stylesheet_tag }}

<div class="account-wrapper section_content_width_{{ section.settings.section_content_width }}">
  <aside class="account-sidebar">
    {% render 'account-sidebar' %}
  </aside>

<main class="account-content section_width_{{ section.settings.section_width }}">
  {% case template.name %}
    {% when 'customers/account' %}
      {% render 'account-page-profile' %}

    {% when 'page.account-profile' %}
      {% render 'account-page-profile' %}
    {% when 'page.account-profile-form' %}
      {% render 'account-page-profile-form' %}
    {% when 'page.account-orders' %}
      {% render 'account-page-orders' %}
    {% when 'page.account-address' %}
      {% render 'account-page-address' %}
    {% when 'page.account-membership' %}
      {% render 'account-page-membership' %}
    {% when 'page.account-returns' %}
      {% render 'account-page-returns' %}
    {% else %}
      {% render 'account-page-profile' %}
  {% endcase %}
</main>
</div>


<style>
  .account-wrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 40px;
  }

  .account-sidebar {
    width: 220px;
    flex-shrink: 0;
  }

  .account-content {
    flex: 1;
  }
</style>

{% schema %}
{
  "name": "Account Layout",
  "tag": "section",
  "class": "account-layout",
  "settings": [
      {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "default": "standard",
      "options": [
        { "value": "standard", "label": "50% Width" },
        { "value": "full", "label": "Full Width" }
      ]
    },
    {
      "type": "select",
      "id": "section_content_width",
      "label": "Content Width",
      "default": "standard",
      "options": [
        { "value": "standard", "label": "50% Width" },
        { "value": "full", "label": "Full Width" }
      ]
    }
  ]
}
{% endschema %}
