{% comment %}
  Custom section: After Service Form | after-service-form.liquid
{% endcomment %}

<div class="after-service-form-section" id="{{ section.id }}">
  <div class="after-service-form__wrapper">
    <div class="after-service-form__heading">
      <h2 class="after-service-form__title">{{ section.settings.title }}</h2>
      <p class="after-service-form__subtitle">{{ section.settings.subtitle }}</p>
    </div>
    <form class="after-service-form__form">
      <div class="after-service-form__row after-service-form__row--2">
        <input type="text" name="name" placeholder="First and last Name*" required>
        <input type="email" name="email" placeholder="Your Email*" required>
      </div>

      <div class="after-service-form__row after-service-form__row--2">
        <input type="text" name="purchase_channel" placeholder="Purchase Channel">
        <input type="text" name="order_number" placeholder="Order Number">
      </div>

      <p class="after-service-form__label">Purchase Date</p>
      <div class="after-service-form__row after-service-form__row--3">
        <input type="text" name="month" placeholder="MM">
        <input type="text" name="day" placeholder="DD">
        <input type="text" name="year" placeholder="YYYY">
      </div>

      <p class="after-service-form__label">Product Model</p>
      <div class="after-service-form__row after-service-form__row--1">
        <div class="after-service-form__select-wrapper">
          <select name="product_model" required>
            <option value="" disabled selected hidden>Product Model</option>
            <option value="model1">Model 1</option>
            <option value="model2">Model 2</option>
          </select>
          <span class="after-service-form__select-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
              <path d="M1.25268 0.241392L6.49975 6.14413L11.7468 0.241393C11.9219 0.0444589 12.1848 -0.0405531 12.4365 0.0183811C12.6882 0.0773148 12.8906 0.271241 12.9673 0.527109C13.044 0.782977 12.9835 1.06191 12.8085 1.25885L7.03082 7.75856C6.89409 7.91246 6.70163 8 6.5 8C6.29836 8 6.1059 7.91246 5.96917 7.75856L0.191519 1.25885C-0.0790433 0.954414 -0.0607213 0.479857 0.232444 0.198894C0.525609 -0.0820676 0.982119 -0.0630409 1.25268 0.241392Z" fill="#636363"/>
            </svg>
          </span>
        </div>
      </div>

      <div class="after-service-form__row after-service-form__row--1">
        <div class="after-service-form__upload">
          <input type="file" name="issue_file" id="issue_file">
          <label for="issue_file">
            <span>Issue video/image</span>
            <div class="after-service-form__upload-label-group">
              <span>Upload File</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_1282_2593)">
                  <path d="M18.3991 7.37889C18.2182 7.32729 18.0531 7.23128 17.9188 7.09959C17.7845 6.9679 17.6852 6.80472 17.6301 6.62489C17.3239 5.58693 16.8102 4.6219 16.1203 3.78818C15.4303 2.95447 14.5784 2.2694 13.616 1.77445C12.6536 1.27949 11.6009 0.984934 10.5214 0.908599C9.44188 0.832265 8.35813 0.975741 7.33569 1.33034C6.31325 1.68495 5.37338 2.24331 4.57296 2.97163C3.77255 3.69996 3.12822 4.58311 2.67897 5.56764C2.22973 6.55218 1.9849 7.61762 1.95931 8.6995C1.93372 9.78139 2.1279 10.8572 2.5301 11.8619C2.62249 12.0733 2.64239 12.3094 2.58668 12.5333C2.53097 12.7572 2.40279 12.9564 2.2221 13.0999C1.42582 13.6909 0.804142 14.4862 0.422848 15.4015C0.0415537 16.3169 -0.0851673 17.3184 0.056097 18.2999C0.27655 19.6268 0.965421 20.8306 1.99768 21.693C3.02994 22.5553 4.33716 23.019 5.6821 22.9999H10.9991C11.2643 22.9999 11.5187 22.8945 11.7062 22.707C11.8937 22.5195 11.9991 22.2651 11.9991 21.9999C11.9991 21.7347 11.8937 21.4803 11.7062 21.2928C11.5187 21.1052 11.2643 20.9999 10.9991 20.9999H5.6821C4.81838 21.0208 3.97573 20.7317 3.30686 20.1848C2.63799 19.6379 2.18717 18.8696 2.0361 18.0189C1.94029 17.3936 2.01794 16.7541 2.26057 16.1699C2.5032 15.5857 2.90151 15.0793 3.4121 14.7059C3.94842 14.3051 4.33638 13.7374 4.51503 13.0921C4.69369 12.4468 4.6529 11.7605 4.3991 11.1409C3.89725 9.81559 3.87144 8.35711 4.3261 7.01489C4.68929 5.96346 5.33968 5.03477 6.20358 4.334C7.06748 3.63323 8.11037 3.18839 9.2141 3.04989C9.47012 3.01693 9.72797 3.00023 9.9861 2.99989C11.2792 2.99562 12.5388 3.41032 13.5764 4.18188C14.6141 4.95344 15.3739 6.04036 15.7421 7.27989C15.8858 7.75226 16.1448 8.18146 16.4957 8.52884C16.8465 8.87623 17.2783 9.13089 17.7521 9.26989C18.9116 9.61281 19.9387 10.3018 20.6958 11.2445C21.4529 12.1873 21.904 13.3388 21.9886 14.545C22.0732 15.7511 21.7874 16.9544 21.1693 17.9936C20.5512 19.0328 19.6304 19.8584 18.5301 20.3599C18.3673 20.4433 18.2311 20.5707 18.1372 20.7277C18.0434 20.8847 17.9955 21.065 17.9991 21.2479C17.9972 21.4134 18.0368 21.5767 18.1144 21.7228C18.192 21.869 18.3051 21.9933 18.4432 22.0844C18.5814 22.1755 18.7402 22.2304 18.9052 22.2441C19.0701 22.2578 19.2358 22.2299 19.3871 22.1629C23.5211 20.1759 25.7671 14.9489 22.2671 9.89889C21.3034 8.64181 19.9384 7.75251 18.3991 7.37889Z" fill="#C4C4C4"/>
                  <path d="M18.7064 16.707C18.8939 16.5194 18.9992 16.2651 18.9992 16C18.9992 15.7348 18.8939 15.4805 18.7064 15.293L17.1204 13.707C16.5578 13.1446 15.7949 12.8286 14.9994 12.8286C14.2039 12.8286 13.441 13.1446 12.8784 13.707L11.2924 15.293C11.1103 15.4816 11.0095 15.7342 11.0118 15.9964C11.014 16.2586 11.1192 16.5094 11.3046 16.6948C11.49 16.8802 11.7408 16.9854 12.003 16.9876C12.2652 16.9899 12.5178 16.8891 12.7064 16.707L13.9994 15.414V23C13.9994 23.2652 14.1048 23.5195 14.2923 23.7071C14.4799 23.8946 14.7342 24 14.9994 24C15.2646 24 15.519 23.8946 15.7065 23.7071C15.8941 23.5195 15.9994 23.2652 15.9994 23V15.414L17.2924 16.707C17.48 16.8944 17.7343 16.9998 17.9994 16.9998C18.2646 16.9998 18.5189 16.8944 18.7064 16.707Z" fill="#C4C4C4"/>
                </g>
                <defs>
                  <clipPath id="clip0_1282_2593">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </label>
        </div>
      </div>

      <div class="after-service-form__row after-service-form__row--1">
        <textarea name="issue_description" placeholder="Issue Description"></textarea>
      </div>

      <button type="submit" class="after-service-form__submit">
        Submit
        <span class="submit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
            <path d="M11.3137 5.5L6.08144 10.7048L5.10895 9.73235L8.84824 6.18483L0.698544 6.19854V4.80146L8.84826 4.78775L5.12269 1.22652L6.08146 0.267749L11.3137 5.5Z" fill="white"/>
          </svg>
        </span>
      </button>
    </form>
  </div>
</div>

{% style %}
.after-service-form-section {
  width: 100%;
  padding: 80px 20px;
  background-color: #ffffff;
  background-image: url({{ section.settings.background_image | image_url: width: 1920 }});
  background-size: cover;
  background-repeat: no-repeat;
   background-position: right center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.after-service-form__wrapper {
  width: 100%;
  max-width: 1608px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.after-service-form__heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.after-service-form__title {
  font-family: Questrial;
  font-size: 56px;
  font-weight: 400;
  color: #1A1A1A;
  width: 532px;
}

.after-service-form__subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #1A1A1A;
  width: 814px;
  margin: 0;
}

.after-service-form__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 682px;
}


.after-service-form__row--2,
.after-service-form__row--3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.after-service-form__row--2 {
  flex-direction: row;
  width: auto;
  gap: 24px;
}

.after-service-form__form .after-service-form__row--2 input[type="text"],
.after-service-form__form .after-service-form__row--2 input[type="email"] {
  width: 384px;
  height: 54px;
}

.after-service-form__row--3 {
  width: 788px;
}


.after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(1),
.after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(3) {
  width: 212px;
}

.after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(2) {
  width: 210px;
}

.after-service-form__row--1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.after-service-form__form .after-service-form__row--1 select,
.after-service-form__form .after-service-form__row--1 .after-service-form__upload label,
.after-service-form__form .after-service-form__row--1 textarea {
  width: 682px;
}

.after-service-form__form input[type="text"],
.after-service-form__form input[type="email"],
.after-service-form__form select,
.after-service-form__form textarea {
  width: 100%;
  height: 54px;
  padding: 12px 24px;
  border-radius: 10px;
  outline: 1px solid #636363;
  outline-offset: -1px;
  font-size: 16px;
  font-family: Roboto;
  color: #0a0a0a;
}

.after-service-form__form select:invalid {
  color: #C6C6C6;
}

select {
  appearance: none;
  background-image: none;
}

.after-service-form__select-wrapper {
  position: relative;
  width: 682px;
}

.after-service-form__select-wrapper select {
  width: 100%;
  appearance: none;
}

.after-service-form__select-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.after-service-form__upload input[type="file"] {
  display: none;
}

.after-service-form__upload label {
  width: 682px;
  height: 54px;
  padding: 12px 24px;
  border-radius: 10px;
  outline: 1px solid #636363;
  outline-offset: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  color: #C6C6C6;
  cursor: pointer;
}

.after-service-form__submit {
  display: inline-flex;
  padding: 12px 20px;
  background: #000000;
  border-radius: 30px;
  color: white;
  font-family: Questrial;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

 .after-service-form__label {
   font-family: 'Basic Sans', sans-serif;
   font-size: 18px;
   color: #1D1D1B;
   text-transform: capitalize;
   margin: 0;
 }

 .after-service-form__upload-label-group {
   display: flex;
   align-items: center;
   gap: 20px;
 }

.after-service-form-section {
  align-items: center;
}

.after-service-form__form input::placeholder,
.after-service-form__form textarea::placeholder {
  color: #C6C6C6;
}

@media screen and (max-width: 828px) {
.after-service-form-section {
  background-image: none;
  padding: 40px 20px;
}
  .after-service-form__title {
    font-size: 32px;
    width: 100%;
  }
  .after-service-form__subtitle {
    width: 100%;
}
  .after-service-form__form {
    max-width: 100%;
        gap: 12px;
  }
  .after-service-form__title {
    font-size: 26px;
    width: 100%;
  }
  .after-service-form__subtitle {
    width: 100%;
  }
  .after-service-form__wrapper {
    width: 342px;
    gap: 40px;
  }

  .after-service-form__heading {
    gap: 40px;
  }
   .after-service-form__label {
   margin: 8px 0;
}
  .after-service-form__row--1,
  .after-service-form__row--2,
  .after-service-form__row--3 {
    flex-direction: column;
        gap: 12px;
  }
 .after-service-form__form .after-service-form__row--2 input[type="text"], .after-service-form__form .after-service-form__row--2 input[type="email"],
  .after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(1),
  .after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(2),
  .after-service-form__form .after-service-form__row--3 input[type="text"]:nth-child(3),
  .after-service-form__form .after-service-form__row--1 .after-service-form__upload label,
  .after-service-form__form .after-service-form__row--1 select, .after-service-form__form .after-service-form__row--1 .after-service-form__upload label, .after-service-form__form .after-service-form__row--1 textarea {
    width: 342px;
    height: 54px;
  }
}
{% endstyle %}

{% schema %}
{
  "name": "After Service Form",
  "tag": "div",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "After Service"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "We value our customers. Please fill out the form below so we can assist you efficiently"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Desktop Background Image"
    }
  ],
  "presets": [
    {
      "name": "After Service Form",
      "category": "Custom"
    }
  ]
}
{% endschema %}
