

<div data-background-wrap-end="true"></div>

{% schema %}
{
  "name": "Background Wrap End",
  "class": "background-wrap-end",
  "presets": [
    {
      "name": "Background Wrap End"
    }
  ]
}
{% endschema %}
