


<h1>{{ section.settings.title }}</h1>




{%  schema  %}
{
	"name": "Page Title",
	"class": "section-page-title section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
		}
	],
	"presets": [
		{
			"name": "Page Title"
		}
	]
}
{% endschema %}



