{%- render 'section-reward-faqs' -%}

{% schema %}
{
  "name": "t:labels.faq",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:labels.heading",
      "default": "Frequently asked questions"
    },
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "t:labels.rich_text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:labels.title",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:labels.text",
          "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
        },
      ]
    },
    {
      "type": "question",
      "name": "t:labels.question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:labels.question",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:labels.text",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reward FAQS",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
